.font { font-family: 'Roboto', sans-serif;}

a{
    color: #0060B6;
    text-decoration: none;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 60%
}


.body {
    /* text-align: center; */
    color: #C0C0C0;
    background-position: center;
    background: url(./images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-color: #0D0D0D !important;
}

.avatar {
    display: block;
     margin-left: auto;
     margin-right: auto;
     height: 250px;
     width: 250px;
     border-radius: 50%;
     padding-top: 0;
}

#links {
    position: relative;
    margin-left:-.9em
}

.images{
    display: inline-block;
    margin: 0 1.5%;
}
.git {
  fill: #C0C0C0;
}

.git:hover {
  fill: #A349AF;
}

.LinkedIn {
  fill: #C0C0C0;
}

.LinkedIn:hover {
  fill: #0072b1;
}

.Resume {
  fill: #C0C0C0;
}

.Resume:hover {
  fill: #585858;
}

.Email {
  fill: #C0C0C0;
}

.Email:hover {
  fill: #FCB216;
}
